<h1>Coin Breakdown: </h1>

<h2>To make $<%=@breakdown['Total']%> you will need: </h2>

<h3><%=@breakdown['Quarters']%> Quarters</h3>
<h3><%=@breakdown['Dimes']%> Dimes</h3>
<h3><%=@breakdown['Nickles']%> Nickles</h3>
<h3><%=@breakdown['Pennies']%> Pennies</h3>